@import "tailwindcss";
@import "tw-animate-css";
@plugin "@toolwind/corner-shape";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #f5f5f5;
  --foreground: #000;
  --primary: #8b5cf6;
  --secondary: #3f3f47;

  --radius: 0.4rem;

  --header-height: 64px;

  --font-sans:
    "Geist", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono:
    "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.dark {
  --background: #171717;
  --foreground: #fff;
  --secondary-bg: #262626;
  --secondary: #d4d4d4;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) transparent;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  html[data-base-ui-scroll-locked] {
    scroll-behavior: auto;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    overscroll-behavior: none;
    font-family: var(--font-sans);
  }

  ::selection {
    background-color: var(--primary);
    color: white;
  }

  .root {
    isolation: isolate;
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-700);
    border-radius: 6px;
  }

  .view-container {
    @apply mx-auto w-full max-w-[1292px] px-4 xl:px-2;
  }
}
